<% layout('layouts/boilerplate') %>


    <div class="row" style="margin-top: 2em;">

        <div class="col-6 mx-auto">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username"> Username: </label>
                    <input type="text" id="username" class="form-control" name="username" placeholder="Username"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please fill the required field.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" id="password" class="form-control" name="password"
                        placeholder="Enter Password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please fill the required field.
                    </div>
                </div>

                <button class="btn btn-sm btn-success" type="submit">Login</button>
                <p class="fw-light mt-2">Dont have an account , <a href="/register">SignUp</a></p>
            </form>

        </div>

    </div>