<div class="row mx-auto">
    <% if(success && success.length){ %>
        <div class="alert alert-warning alert-dismissible fade show mx-auto " role="alert">
            <strong class="mx-auto" style="padding-left: 42em;"><%=success%></strong>
            <button type="button" class="btn-close mx-auto" data-bs-dismiss="alert" aria-label="Close" ></button>
          </div>
    <% } %>
</div>


<% if(error && error.length){ %>
    
    <div class="alert alert-danger" role="alert">
        <strong><%=error%></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>