<% layout('layouts/boilerplate') %>



    <div class="row" style="margin-top: 2em;">
        

        <div class="col-6 mx-auto">
            <h3>check your email for instructions on resetting your password.</h3>
            <!-- <h1>Reset-Password</h1> -->
            <form action="/reset-password" method="POST">
                <div class="mb-3">
                    <label for="token"> token </label>
                    <input type="text" id="token" class="form-control" name="token" placeholder="enter token here" required>


                </div>
                <div class="mb-3">
                    <label for="newpassword" class="form-label">Password: </label>
                    <input type="password" id="newpassword" class="form-control" name="newpassword"
                        placeholder="Enter new Password" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" id="email" class="form-control" name="email"
                        placeholder="Enter mail" required>
                    
                </div>

                <button class="btn btn-sm btn-success" type="submit">Submit</button>
            </form>

        </div>

    </div>